* {
    scroll-behavior: smooth;
}

:root {
    --white: #FFFFFF;
    --yellow: #FFB400;
    --grey: #F0F0F6;
    --grey-borders: #E4E6EB;
    --blue: #6a78fd;
    --black: #000000;
}

body {
    margin: 0;
    color: var(--black);
}

::selection {
    background-color: var(--yellow);
    color: var(--grey);
}


/*---------------------------------------navbar---------------------------------------*/
header {
    position: fixed;
    width: 100%;
    height: 100px;
    /*border: 1px solid black;*/
    z-index: 1;
    box-sizing: border-box;
    background-color: var(--grey);

}

nav {
    position: absolute;
    display: flex;
    /*border: 1px solid red;*/
    height: fit-content;
    width: fit-content;
    right: 10%;
    top: 0;
    bottom: 0;
    margin: auto;
    align-items: center;

}

a {
    text-decoration: none;
    color: unset;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;

}

#navbar > a {
    font-size: 22px;
    margin: 20px 30px;
    transition-duration: 0.3s;

}

#home {
    border-bottom: 4px solid var(--yellow);
}

#navbar > a:hover {
    color: var(--yellow);

}

#logo {
    position: absolute;
    width: fit-content;
    height: fit-content;
    font-size: 42px;
    left: 10%;
    top: 0;
    bottom: 0;
    margin: auto;


}

.theme-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 35px;
    border-radius: 30px;
    background-color: var(--white);
    box-shadow: var(--white) 0 0 30px 0;
    cursor: pointer;
    /*border: 1px solid red;*/

}

.theme-wrapper:hover {
    background-color: var(--black);
}

#theme {
    font-size: 18px;
    margin: 0 10px;
    transition-duration: 0.5s;

}

.theme-wrapper:hover > #theme {
    transform: scale(1.1) rotate(20deg);
    color: var(--white);

}

/*---------------------------------------hero section---------------------------------------*/
.hero-sec {
    position: relative;
    width: 100%;
    height: 945px;
    /*border: 1px solid black;*/
    background-color: var(--grey);
    box-sizing: border-box;
    z-index: 0;
    overflow: hidden;

}

.hero-img-wrapper {
    position: absolute;
    aspect-ratio: 413/531;
    height: 1000px;
    /*border: 5px solid red;*/
    right: 15%;
    bottom: -100px;

}

.hero-img {
    position: absolute;
    height: 90%;
    width: 90%;
    background-position: center;
    background-size: cover;
    background-image: url("/assets/img/hero-img.png");
    z-index: 1;
    left: 0;
    right: 0;
    margin: auto;

}

.hero-img-bg {
    position: absolute;
    aspect-ratio: 1/1;
    width: 100%;
    left: 0;
    right: 0;
    bottom: -10px;
    margin: auto;
    /*border: 1px solid blue;*/
    z-index: 0;

}

.img-bg {
    position: absolute;
    aspect-ratio: 1/1;
    background-color: var(--blue);
    box-shadow: var(--blue) 0px 0px 25px 0px;
    border-radius: 50%;

}

.bg-1 {
    width: 100%;
    z-index: 5;
}

.bg-2 {
    width: 110%;
    top: -5%;
    left: -5%;
    opacity: 0.08;
    box-shadow: var(--blue) 0px 0px 25px 0px;
    z-index: 4;
}

.bg-3 {
    width: 120%;
    top: -10%;
    left: -10%;
    opacity: 0.07;
    box-shadow: var(--blue) 0px 0px 25px 0px;
    z-index: 3;
}

.bg-4 {
    width: 130%;
    top: -15%;
    left: -15%;
    opacity: 0.06;
    box-shadow: var(--blue) 0px 0px 25px 0px;
    z-index: 2;
}

.bg-5 {
    width: 140%;
    top: -20%;
    left: -20%;
    opacity: 0.05;
    box-shadow: var(--blue) 0px 0px 25px 0px;
    z-index: 1;
}

.hero-headers {
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    width: fit-content;
    height: fit-content;
    left: 10%;
    top: 280px;
    /*border: 1px solid black;*/

}

.hero-headers > h4 , .hero-headers > h1 {
    margin: 10px 0;
    font-weight: 600;
}

.hero-headers > h4:first-child {
    font-size: 40px;

}

.hero-headers > h1:nth-child(2) {
    font-size: 92px;
    color: var(--yellow);
}

.first-word {
    color: black;
}

.hero-headers > h1:nth-child(3) {
    font-size: 44px;

}

.cv-btn {
    position: relative;
    margin: 10px 0;
    width: 220px;
    height: 60px;
    border: 2px solid var(--yellow);
    border-radius: 10px;
    padding: 0;
    transition-duration: 0.3s;
    /*box-sizing: border-box;*/
}

.cv-btn > a {
    display: flex;
    font-weight: 600;
    font-size: 24px;
    color: var(--yellow);
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 5px;
    align-items: center;
    justify-content: space-evenly;
    transition-duration: 0.3s;

}

.cv-btn:hover > a {
    color: var(--grey);

}

.cv-btn:hover {
    background-color: var(--yellow);
    box-shadow: var(--yellow) 0px 0px 25px 0px;
    /*box-shadow: ;*/

}

/*---------------------------------------about me section---------------------------------------*/
.about-me-sec {
    position: relative;
    height: 1000px;
    background-color: var(--grey);
    padding-top: 5%;

}

.about-me-img-wrapper {
    position: relative;
    width: fit-content;
    height: fit-content;
    /*left: 400px;*/
    /*border: 1px solid black;*/

}

.upper-design {
    position: absolute;
    width: 150px;
    height: 190px;
    border-top: 5px solid var(--yellow);
    border-left: 5px solid var(--yellow);
    top: 100px;
    left: 0;

}

.about-me-img-bg {
    position: absolute;
    width: 80%;
    height: 75%;
    border-radius: 0 50px 0 50px;
    background-color: var(--blue);
    bottom: 0;
    left: 20px;

}

.about-me-img {
    position: relative;
    height: 500px;
    aspect-ratio: 413/531;
    background-image: url("/assets/img/hero-img.png");
    background-position: center;
    background-size: cover;

}

.bottom-design {
    position: absolute;
    width: 50%;
    height: 40%;
    border-radius: 0 50px 0 50px;
    background-color: var(--yellow);
    bottom: -30px;
    right: 20px;
}

.about-me-desc-wrapper {
    position: relative;

}

.about-me-desc {
    position: relative;
    /*border: 1px solid red;*/
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 100;
    margin: 0;
    padding: 0;

}

.about-me-header {
    font-size: 48px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    margin: 100px 0 0 0;
    padding: 0;

}

.languages-wrapper {
    position: relative;
    margin-top: 100px;
}

.languages-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    margin: 0 0 80px;
    padding: 0;

}

/*.lang-notify-wrapper {*/
/*    border: 1px solid black;*/

/*}*/

/*.lang-notify-wrapper > span {*/
/*    width: 50px;*/
/*    height: 60px;*/
/*    display: inline-block;*/
/*    border: 1px solid black;*/
/*}*/

#languages {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.languages > i {
    position: relative;
    font-size: 28px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: var(--white);
    color: var(--black);
    box-shadow: var(--white) 0 0 25px 0;
    border-radius: 50px;
    margin: 0 20px;

}

.languages > i:hover {
    /*border: 2px solid var(--white);*/
    /*color: var(--white);*/
    /*background-color: var(--yellow);*/


}

.languages > i > span {
    position: absolute;
    display: inline-block;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    background-color: var(--yellow);
    color: var(--white);
    padding: 15px 20px;
    border-radius: 25px;
    stroke-linejoin: round;
    stroke-width: 16;
    top: -30px;
    transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265 , 1.55);
    opacity: 0;

}

.languages > i:hover > span {
    top: -65px;
    opacity: 1;
    pointer-events: auto;

}

.languages > i > span:before {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    background-color: var(--yellow);
    transform: rotate(45deg);
    bottom: -5px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;

}

